# Mac OS
.DS_Store

# NPM
/node_modules
npm-*

# Build
playground/*
dist/*

# Editors
/#*
*~

# generated translation files
/translations
/locale

# tests
/test/results/*
node_modules/.cache/ git add .gitignore git commit -m Ignore node_modules cache (prevent gh-pages cache from being tracked)
